# Backend
/backend/node_modules/
/backend/dist/
/backend/public/images/*
/backend/src/db/*.db
/backend/src/db/*.db-shm
/backend/src/db/*.db-wal
!/backend/public/images/.gitkeep

# Frontend
/frontend/node_modules/
/frontend/dist/
